:root {
  --menu-color: #5e75d1;
  --main-color-text: #212529;
  --added-items-pcolor: #f97400;
  --item-list-color: #ff8d26;
}
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

.first-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--menu-color);
  padding: 10px;
}

.first-header__title {
  font-size: 1rem;
  margin: 10px 0 0 5px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navigator-list {
  display: flex;
  justify-content: center;
}

.navigator-list__element {
  margin: 0 5px 0 0;
  list-style: none;
  font-size: 0.7rem;
}
.added-items {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: var(--added-items-pcolor);
}
.added-items__icon {
  padding: 10px;
}
.added-items__number-of-items {
  padding: 10px;
}
.products-form {
  background-color: var(--item-list-color);
  padding: 10px;
  flex: 1;
}

.items-list {
  margin: 0;
  padding: 0;
}

.items-list__added {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid.fa-xmark {
  font-size: 1rem;
}

.total-price {
  text-align: right;
}

a {
  color: var(--main-color-text);
}

a:visited {
  color: var(--main-color-text);
}

.item-name {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

.item-price {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}

.item-box {
  width: 100px;
}

.price-box {
  width: 100px;
}

.form-list {
  list-style: none;
  padding: 0;
}

.button-modifier {
  background-color: var(--menu-color);
  color: white;
  border: none;
  padding: 10px 5px;
}
